 body {
 	color: red;
 	color: #C92B1C;

 background-color:black ;

	font-size: 35px;
}

a {
	color:skyblue;
}

h1 {
	font-family: Impact, monospace;
	border width: 6px;
	border-style: solid;
	border-radius: 22px;
	padding: .5em 1em;
	text-align: center;
	margin: 1em;
}

p{
	font-family: Papyrus;
	font-size: 1.2em;
	font-size: 15px;
}

div#container {
	margin: 0 auto;
	max-width: 800px;
}

img {
	width: 100%;
}

img#abstract-image {
	width:200px;
}


